<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Ajouter une annonce
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input [clearInput]="true" placeholder="Enter le titre de l'annonce"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input placeholder="Enter la description de l'annonce"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Prix</ion-label>
      <ion-input type="number" placeholder="Entrer le prix en Dinar Tunisien"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Numéro de téléphone</ion-label>
      <ion-input type="tel" placeholder="xx xxx xxx"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Catégorie">
        <ion-select-option value="smartphone">Smartphone</ion-select-option>
        <ion-select-option value="laptop">Laptop</ion-select-option>
        <ion-select-option value="voiture">Voiture</ion-select-option>
        <ion-select-option value="console">Console de jeux</ion-select-option>
        <ion-select-option value="tv">TV</ion-select-option>
        <ion-select-option value="clothes">Vêtement</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Marque">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="samsung">Samsung</ion-select-option>
        <ion-select-option value="asus">Asus</ion-select-option>
        <ion-select-option value="hp">HP</ion-select-option>
        <ion-select-option value="audi">Audi</ion-select-option>
        <ion-select-option value="bmw">BMW</ion-select-option>
        <ion-select-option value="sony">Sony</ion-select-option>
        <ion-select-option value="xbox">Xbox</ion-select-option>
        <ion-select-option value="lg">LG</ion-select-option>
        <ion-select-option value="jvc">JVC</ion-select-option>
        <ion-select-option value="zara">Zara</ion-select-option>
        <ion-select-option value="bershka">Bershka</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-button expand="block" color="warning">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Ajouter
    </ion-button>
    
  </ion-list>
</ion-content>
